.favourite-page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 100px;
}

/* Heading */

.favourite-heading {
  margin-bottom: 40px;
  text-align: center;
}

.favourite-heading h1 {
  margin: 0 0 10px;
  color: #111;
  font-size: 36px;
  font-weight: 700;
}

.favourite-heading p {
  margin: 0;
  color: #666;
  font-size: 16px;
}

/* Favourite Grid */

.favourite-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* Card */

.favourite-card {
  overflow: hidden;

  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 14px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.favourite-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.09);
}

/* Image */

.favourite-image {
  width: 100%;
  height: 330px;
  overflow: hidden;
}

.favourite-image img {
  width: 100%;
  height: 100%;
  display: block;

  object-fit: cover;

  transition: transform 0.3s ease;
}

.favourite-card:hover .favourite-image img {
  transform: scale(1.04);
}

/* Card Information */

.favourite-info {
  padding: 18px;
}

.favourite-info h2 {
  margin: 0 0 12px;

  color: #111;
  font-size: 18px;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Meta */

.favourite-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 18px;

  color: #666;
  font-size: 13px;
}

/* Details Link */

.details-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  color:#5b4df5;
  font-size: 13px;
  font-weight: 600;

  text-decoration: none;

  transition: background 0.2s ease;
}

/* Empty State */

.no-favourites {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  color: #666;
  font-size: 16px;
}
.remove-favourite {
  width: 100%;
  height: 40px;

  margin-top: 10px;
  border: 1px solid #e53935;
  border-radius: 7px;

  background: #fff;
  color: #e53935;

  font-size: 13px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s ease;
}

.remove-favourite:hover {
  background: #e53935;
  color: #fff;
}
/* Tablet */

@media (max-width: 1000px) {
  .favourite-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .favourite-image {
    height: 300px;
  }
}

/* Small Tablet */

@media (max-width: 750px) {
  .favourite-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .favourite-image {
    height: 320px;
  }
}

/* Mobile */

@media (max-width: 500px) {
  .favourite-page {
    width: 90%;
    padding: 40px 0 70px;
  }

  .favourite-heading {
    margin-bottom: 30px;
  }

  .favourite-heading h1 {
    font-size: 28px;
  }

  .favourite-heading p {
    font-size: 14px;
  }

  .favourite-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .favourite-image {
    height: 380px;
  }
}